<nav class="navbar navbar-expand-lg navbar-light bg-primary" style="padding: 0;">
 
<a class="navbar-brand ms-3 logo"
    href="#">RentalCars</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="vehicle">Parco Auto</a>
      @if (authService.getUser()?.ruolo === 'Super User') {
      <a class="nav-item nav-link" routerLink="customer">Gestione Clientela</a>
      }@else {
      <a class="nav-item nav-link" [routerLink]="['/customer/update', userId]">Profilo Utente</a>
        }
        @if (authService.getUser()?.ruolo === 'Super User') {
        <a class="nav-item nav-link" routerLink="booking">Prenotazioni</a>
        } @else {
        <a class="nav-item nav-link" routerLink="booking">Le mie Prenotazioni</a>
        }
    </div>
  </div>
<div class="col-md-2 d-flex justify-content-end gap-4">
  <div class="d-flex gap-2">
    <i class="fa fa-user fa-2x mt-2-5"></i>
    <div class="navbar-text text-start flex-shrink-1 user">
      Utente:<br />
      {{ authService.getUser()?.username | uppercase }}
    </div>
  </div>
  
  <div class="navbar-text me-3">
    <app-my-button [buttonConfig]="buttonConfig" (click)="logout()" />
  </div>
</div>


</nav>