<nav class="bg-blue-600 text-black flex items-center h-16 justify-between px-4 relative">
  <div class="flex items-center gap-3">
    <span class="logo-img"></span>
    <a href="#" class="font-bold logo no-underline">RentalCars</a>
  </div>

    <!-- Menu Toggle per mobile -->
  <button
    class="block lg:hidden text-white"
    type="button"
    (click)="toggleMenu = !toggleMenu"
  >
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
      viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <div [ngClass]="{ 'hidden': !toggleMenu }" class="w-full lg:flex lg:items-center lg:w-auto mt-2 lg:mt-0">
  <div class="absolute left-1/2 transform -translate-x-1/2 flex te">
    <a
      class="flex items-center justify-center px-6 h-16 hover:bg-blue-700 border-r text-black no-underline"
      routerLink="/"
    >
      Home
    </a>
    <a
      class="flex items-center justify-center px-6 h-16 hover:bg-blue-700 border-r text-black no-underline"
      routerLink="/vehicle"
    >
      Parco Auto
    </a>
    <a
      class="flex items-center justify-center px-6 h-16 hover:bg-blue-700 border-r text-black no-underline"
      [routerLink]="this.authService.getUser()?.ruolo === 'Super User' ? '/customer' : ['/customer/update', userId]"
    >
      {{this.authService.getUser()?.ruolo === 'Super User' ? 'Gestione Clientela' : 'Profilo Utente'}}
    </a>
    <a
      class="flex items-center justify-center px-6 h-16 hover:bg-blue-700 border-r text-black no-underline"
      routerLink="/booking"
    >
      {{this.authService.getUser()?.ruolo === 'Super User' ? 'Prenotazioni' : 'Le Mie Prenotazioni'}}
    </a>
  </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-2 text-sm">
      <i class="fa fa-user text-black text-xl"></i>
      <div>
        Utente:<br />
        {{ authService.getUser()?.username | uppercase }}
      </div>
    </div>
    <app-my-button [buttonConfig]="buttonConfig" (click)="logout()" />
  </div>
</nav>
