@if (showDialog && authService.getUser()?.ruolo === 'Super User') {
<app-my-dialog (closedDialog)="closeDialog()" (operationConfirmed)="confirmDelete()" />
}
<div class="background-wrapper">
  <div class="overlay-content">
    @if (router.url.includes('types')) {
    <h1>Gestione Tipologie</h1>
    <p>In questa sezione puoi visualizzare, aggiungere, modificare o eliminare le tipologie dei veicoli.
    </p>
    } @else {
    <h1>Gestione Parco Auto</h1>
    <p>In questa sezione puoi visualizzare, aggiungere, modificare o eliminare i veicoli disponibili per il noleggio.
    </p>
    }
    <div class="table-wrapper">
      @if (authService.getUser()?.ruolo === 'Super User') {
      <div class="button-wrapper">
        <app-my-button [buttonConfig]="buttonConfig()" [area]="area()" (click)="goToOwnCRUDPage()"></app-my-button>
      </div>
      }
      <app-my-table [tableConfig]="tableConfig()" [data]="data()" [area]="area()"
        (operation)="handleOperation($event)"></app-my-table>
    </div>
  </div>
</div>