<div class="background-wrapper">
    <div class="overlay-content">
        @if (this.authService.getUser()?.ruolo === 'Super User') {
        <h1>Gestione Clientela</h1>
        <p>In questa sezione puoi visualizzare, aggiungere, modificare o eliminare gli account dei tuoi clienti.</p>
        } @else {
        <h1>Profilo Utente</h1>
        <p>In questa sezione puoi visualizzare e modificare il tuo profilo utente</p>
        <p style="font-weight: bold; margin-bottom: 0; font-size: smaller;">Nota Bene: la modifica comporterà il logout
            dalla sessione attuale!</p>
        }
        <div class="mywrapper">
            <div class="card text-white bg-primary bg-opacity-50">
                <div class="card-header text-center">
                    @if (urlKeyword =='create') {
                    <h5>Inserisci nuovo elemento</h5>
                    } @else {
                    <h5>Modifica elemento</h5>
                    }
                </div>
                <div class="card-body" style="width: 50%; margin: 0 auto;">
                    <form [formGroup]="customerReactive" (ngSubmit)="handleFormRequest()">
                        <div *ngIf="customerReactive.errors?.['passwordRequired'] && customerReactive.touched"
                            class="text-danger">
                            La password è obbligatoria se vuoi cambiarla.
                        </div>
                        <div *ngIf="customerReactive.errors?.['confermaPasswordRequired'] && customerReactive.touched"
                            class="text-danger">
                            Confermare la password inserita.
                        </div>
                        <div *ngIf="customerReactive.errors?.['passwordMismatch'] && customerReactive.touched"
                            class="text-danger">
                            Le password non corrispondono.
                        </div>
                        <div class="mb-sm-1">
                            <label class="form-label">Nome</label>
                            <input type="text" class="form-control" formControlName="nome"
                                placeholder="inserisci nome..." />
                            @if (customerReactive.get('nome')?.touched &&
                            customerReactive.get('nome')?.hasError('required')) {
                            <div class="text-danger">Nome
                                obbligatorio</div>
                            }
                        </div>


                        <div class="mb-sm-1">
                            <label class="form-label">Cognome</label>
                            <input type="text" class="form-control" formControlName="cognome"
                                placeholder="inserisci cognome..." />
                            @if (customerReactive.get('cognome')?.touched &&
                            customerReactive.get('cognome')?.hasError('required')) {
                            <div class="text-danger">Cognome
                                obbligatorio</div>
                            }
                        </div>

                        <div class="mb-sm-1">
                            <label class="form-label">Data Di Nascita</label>
                            <input type="date" class="form-control" formControlName="dataDiNascita"
                                placeholder="dd/MM/yyyy" />
                            @if (customerReactive.get('dataDiNascita')?.touched &&
                            customerReactive.get('dataDiNascita')?.hasError('required')) {
                            <div class="text-danger">Data Di Nascita
                                obbligatoria</div>
                            }
                        </div>

                        <div class="mb-sm-1">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" formControlName="username"
                                placeholder="inserisci username..." />
                            @if (customerReactive.get('username')?.touched &&
                            customerReactive.get('username')?.hasError('required')) {
                            <div class="text-danger">Username
                                obbligatorio</div>
                            }
                            @if (customerReactive.get('username')?.touched &&
                            customerReactive.get('username')?.hasError('maxlength')) {
                            <div class="text-danger">Lunghezza Massima: 10 caratteri</div>
                            }
                        </div>
                        @if (urlKeyword === 'create' || this.authService.getUser()?.ruolo === 'Customer') {
                        @if (this.authService.getUser()?.ruolo === 'Customer') {
                        <div class="divider-with-text">
                            <span>Reset Password</span>
                        </div>
                        }
                        <div class="mb-sm-1">
                            <label class="form-label">{{ authService.getUser()?.ruolo === 'Customer' ? 'Nuova ' : ''
                                }}Password</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="inserisci password..." />
                        </div>

                        <div class="mb-sm-1">
                            <label class="form-label">Conferma {{ authService.getUser()?.ruolo === 'Customer' ? 'Nuova '
                                : '' }} Password</label>
                            <input type="password" class="form-control" formControlName="confermaPassword"
                                placeholder="conferma password..." />
                        </div>
                        }

                        @if (urlKeyword === 'update') {
                        <button type="submit" class="btn btn-primary mt-3"
                            [disabled]="customerReactive.invalid || isUnchanged()">
                            Submit</button>
                        } @else {
                        <button type="submit" class="btn btn-primary mt-3" [disabled]="customerReactive.invalid">
                            Submit</button>
                        }
                        @if (this.authService.getUser()?.ruolo === 'Super User') {
                        <a routerLink="/customer" class="btn btn-secondary mt-3">Back</a>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>