@if (authService.getUser()?.ruolo === 'Super User') {
<div class="jumbotron text-center blur-jumbotron">
    <h1 class="display-4">Felice di rivederti, {{authService.getUser()?.nome}}!</h1>
    <p class="lead">Gestisci il tuo sistema di noleggio con facilità: accedi alla configurazione dei clienti e del parco
        auto.</p>
    <hr class="my-4">
    <p>Visualizza tutte le prenotazioni effettuate, aggiorna i dati dei veicoli disponibili e mantieni sempre sotto
        controllo la tua flotta!</p>
    <p class="lead">
        <app-my-button [buttonConfig]="carsButtonConfig()!" routerLink="welcome"></app-my-button>
        <app-my-button [buttonConfig]="customerButtonConfig" routerLink="welcome"></app-my-button>
        <app-my-button [buttonConfig]="bookingButtonConfig()!" routerLink="welcome"></app-my-button>
    </p>
</div>
<div class="jumbotron-bg"></div>
} @else {
<div class="jumbotron text-center blur-jumbotron">
    <h1 class="display-4">Benvenuto in RentalCars!</h1>
    <p class="lead">Trova, prenota e gestisci il tuo noleggio auto in pochi clic.</p>
    <hr class="my-4">
    <p>Qui puoi consultare le auto disponibili, prenotare in base alle tue esigenze e seguire lo stato dei tuoi ordini
        in tempo reale.</p>
    <p class="lead">
        <app-my-button [buttonConfig]="carsButtonConfig()!" routerLink="welcome"></app-my-button>
        <app-my-button [buttonConfig]="bookingButtonConfig()!" routerLink="welcome"></app-my-button>
    </p>
</div>
<div class="jumbotron-bg"></div>
}