<div class="d-flex filter-controls row align-items-end mb-4">
  @for (action of tableConfig().actions; track action) {
  @if (action.type === actionType.NEW_ROW) {
  <app-my-button style="position: absolute; left: 75%; width: 20%;" [buttonConfig]="action.buttonConfig!" [area]="area()"
    (buttonClick)="handleButtonClick($event, 0)"></app-my-button>
  }
  }
  <div class="col-md-4">
    <label for="filterColumn" class="form-label fw-semibold text-primary">
      <i class="fa fa-columns me-1"></i> Colonna da filtrare
    </label>
    <select id="filterColumn" class="form-select shadow-sm text-capitalize" [(ngModel)]="selectedFilterColumn">
      <option value="">-- Seleziona colonna --</option>
      @for (col of tableConfig().search?.columns; track col) {
      <option [value]="col" class="text-capitalize text-primary fw-semibold">
        {{ col }}
      </option>
      }
    </select>

  </div>

  <div class="col-md-4">
    <label for="filterText" class="form-label fw-semibold text-primary">
      <i class="fa fa-filter me-1"></i> Testo da cercare
    </label>
    <input id="filterText" type="text" class="form-control shadow-sm" placeholder="Inserisci filtro"
      [(ngModel)]="filterText" />
  </div>

</div>

@let filtered = data() | tableFilter:filterText:selectedFilterColumn:sortedColumn:sortDirection;
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      @for (header of tableConfig().headers; track header) {
      <th style="white-space: nowrap;" (click)="sortData(header.key)">
        {{ header.label }}
        <i class="fa" [ngClass]="{
             'fa-sort': !isSortedColumn(header.key!),
             'fa-sort-asc': isSortedColumn(header.key!) && sortDirection === 'asc',
             'fa-sort-desc': isSortedColumn(header.key!) && sortDirection === 'desc'
           }"></i>
      </th>
      }
      <th style="white-space: nowrap;" class="d-flex justify-content-center align-items-center">
        <span>Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (row of filtered
    | tableFilter:filterText:selectedFilterColumn:sortedColumn:sortDirection
    | tablePagination:currentPage:tableConfig().pagination?.itemPerPage;
    track row) {
    <tr>
      @for (header of tableConfig().headers; track header) {
      <td style="white-space: nowrap;">
        {{ header.valueGetter ? header.valueGetter(row) : row[header.key!] }}
      </td>
      }
      @if (tableConfig().actions) {
      <td style="white-space: nowrap;">
        @for (action of getActionsForRow(row); track action) {
        @if (action.type !== actionType.NEW_ROW) {
        <app-my-button class="me-2" [buttonConfig]="action.buttonConfig!" [area]="area()"
          (buttonClick)="handleButtonClick($event, row.id)"></app-my-button>
        }
        }
      </td>
      }
    </tr>
    }
  </tbody>
</table>

<div class="d-flex align-items-center mb-2">
  <p class="d-flex align-items-center gap-2 me-3 mb-0">
    <i class="fa fa-file-alt text-primary"></i>
    <span class="fw-semibold">Pagina {{ currentPage }}</span>
  </p>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="itemsPerPageDropdown" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="fa fa-list me-1"></i> {{ itemPerPage }} per pagina
    </button>
    <ul class="dropdown-menu" aria-labelledby="itemsPerPageDropdown">
      @for (option of tableConfig().pagination?.itemPerPageOptions; track option) {
      <li>
        <a class="dropdown-item text-primary" routerLink='/{{area()}}' (click)="onItemsPerPageChange(option)">
          {{ option }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>

<nav class="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><button class="page-link" (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1">Prev</button></li>
    <li class="page-item"><button class="page-link" (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage * tableConfig().pagination?.itemPerPage! >= filtered.length">Next</button></li>
  </ul>
</nav>