.background-wrapper {
  min-height: 100vh;
  background-image: url('../../../../assets/rental-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding-bottom: 10rem;
}

.overlay-content {
  background-color: rgba(255, 255, 255, 0.70);
  padding: 2rem;
  border-radius: 12px;
  width: 80%;
  text-align: center;
}

.mywrapper {
  max-width: 100%;
}